/* PrimarySpace */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
    メイリオ, Meiryo, sans-serif;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  position: relative;
  top: 175px;
  left: 400px;
  width: 800px;
  padding: 1px 10px;
  text-align: center;
}
.footer {
  position: relative;
  left: 400px;
  bottom: -220px;
  width: 800px;
  padding: 10px 85px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* Problem Title */
.problem-title {
  width: 800px;
  position: relative;
  overflow: hidden;
  padding: 20px 20px 20px 150px;
  border: solid #000000;
}

.problem-title:before {
  position: absolute;
  top: -107%;
  left: -24px;
  content: "";
  width: 150px;
  height: 230%;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  background: #000;
}
.problem-title span {
  font-size: 50px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 18px;
  color: #fff;
}

/* Problem-sub-title */
.proble.problem-sub-title {
  width: 800px;
  position: relative;
  top: 170px;
  left: 450px;
}

.proble.problem-sub-title {
  width: 800px;
  padding: 0px, 10px, 10px;
}
.problem-sub-title.li {
  width: 800px;
  padding: 30px;
}

/* ProblemSpace */
.problem-space {
  width: 800px;
  height: 400px;
  position: relative;
  top: 175px;
  left: 500px;
  border: solid;
}

/* PrimaryButton */
.btn-primary-btn {
  width: 800px;
  position: relative;
  bottom: -200px;
  left: 400px;
}

/* TOP */
.btn-top {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  left: 20px;
}
.btn-top:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-top:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* Next */
.btn-next {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  left: 700px;
}
.btn-next:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-next:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* Back */
.btn-back {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  left: 20px;
}
.btn-back:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-back:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
