
    <html lang="ja">

    <head>
        <meta charset="utf-8">
        <title>problem1</title>

    </head>

    <style>
        /* CheckBox */
        .checkbox {
            text-align: center;
            padding: 5px;
            margin: 0 auto;
            position: relative;
            top: 30px;
            font-size: 18px;
        }
    </style>
    <link rel="stylesheet" href="index.css">
    <div class="header">
        <h1 class="problem-title"><span>01</span>Middle Class Problem : Random Checkbox</h1>
    </div>
    <div class="problem">
        <h2 class="problem-title">Problem1</h2>
        <ul>
            <li>Randomly check the checkboxes 1 to 10.<br>（1から10のチェックボックスをランダムにONにしてください）</li>
            <li>Check at least one check box.<br>（チェックボックスは、最低1つ以上はONにしてください）</li>
            <li>Randomly check the checkboxes and then test for checks.<br>（チェックボックスをランダムにチェックした後、チェックの有無をテストしてください。）</li>
            <li>Test the bool values for all checkboxes.<br>
                （全てのcheckboxのbool値をテストしてください）</li>
        </ul>
    </div>
    <div id="problem" class="problem-space">
        <div class="checkbox">
            <label for="checkbox1">checkbox1</label>
            <input name="checkbox1" type="checkbox" v-model="ckb1">
            <label for="checkbox1">{{ ckb1 }}
        </div>
        <div class="checkbox">
            <label for="checkbox2">checkbox2</label>
            <input name="checkbox2" type="checkbox" v-model="ckb2">
            <label for="checkbox2">{{ ckb2 }}
        </div>
        <div class="checkbox">
            <label for="checkbox3">checkbox3</label>
            <input name="checkbox3" type="checkbox" v-model="ckb3">
            <label for="checkbox3">{{ ckb3 }}
        </div>
        <div class="checkbox">
            <label for="checkbox4">checkbox4</label>
            <input name="checkbox4" type="checkbox" v-model="ckb4">
            <label for="checkbox4">{{ ckb4 }}
        </div>
        <div class="checkbox">
            <label for="checkbox5">checkbox5</label>
            <input name="checkbox5" type="checkbox" v-model="ckb5">
            <label for="checkbox5">{{ ckb5 }}
        </div>
        <div class="checkbox">
            <label for="checkbox6">checkbox6</label>
            <input name="checkbox6" type="checkbox" v-model="ckb6">
            <label for="checkbox6">{{ ckb6 }}
        </div>
        <div class="checkbox">
            <label for="checkbox7">checkbox7</label>
            <input name="checkbox7" type="checkbox" v-model="ckb7">
            <label for="checkbox7">{{ ckb7 }}
        </div>
        <div class="checkbox">
            <label for="checkbox8">checkbox8</label>
            <input name="checkbox8" type="checkbox" v-model="ckb8">
            <label for="checkbox8">{{ ckb8 }}
        </div>
        <div class="checkbox">
            <label for="checkbox9">checkbox9</label>
            <input name="checkbox9" type="checkbox" v-model="ckb9">
            <label for="checkbox9">{{ ckb9 }}
        </div>
        <div class="checkbox">
            <label for="checkbox10">checkbox10</label>
            <input name="checkbox10" type="checkbox" v-model="ckb10">
            <label for="checkbox10">{{ ckb10 }}
        </div>
    </div>
    <div class="btn-primary-btn">
        <button class="btn-top" onclick="location.href='https://github.com/AyumuShimizu/automation-training-middle'">Top</button>
        <button class="btn-next" onclick="location.href='https://ayumushimizu.github.io/automation-training-middle/problem2.html'">Next</button>
    </div>
    <div class="footer">
        Copyright Ayumu Shimizu 2022
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                ckb1: false,
                ckb2: false,
                ckb3: false,
                ckb4: false,
                ckb5: false,
                ckb6: false,
                ckb7: false,
                ckb8: false,
                ckb9: false,
                ckb10: false,
                }
            }
        })
        app.mount('#problem')
    </script>

    </html>
