
    <html lang="ja">

    <head>
        <meta charset="utf-8">
        <title>problem1</title>
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link rel="stylesheet" href="index.css">
    </head>

    <style>
        /* CheckBox */
        .problem-space div{
            width: 300px;
            margin: auto 300px;
        }
    </style>

    <div class="header">
        <h1 class="header-title"><span>01</span>Middle Class : Random Checkbox</h1>
    </div>

    <div class="problem">
        <h1>Problem1</h2>
            <hr>
        <ul>
            <li>Create a method to randomly turn on check boxes 01 to 10.<br>（チェックボックス01から10をランダムにONにするメソッドを作成してください）</li>
            <li>Make sure there is at least one check box on and off for each.<br>（チェックボックスはONとOFFそれぞれ1つ以上存在ようにしてください）</li>
            <li>Randomly check and then automate the test with the Value of all checkboxes.<br>（ランダムにチェックした後、全チェックボックスのValueをテストを自動化してください）</li>
            <li>Automate the test that the bool value labels for all checkboxes are correct.<br>（全チェックボックスのbool値のラベルが正しいことをテストを自動化してください）</li>
        </ul>
    </div>

    <div id="problem" class="problem-space">
        <div>
            <label class="checkbox-lable" for="checkbox1">checkbox01</label>
            <input class="checkbox" name="checkbox1" type="checkbox" v-model="ckb1">
            <label class="output-label" for="checkbox1">{{ ckb1 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox2">checkbox02</label>
            <input class="checkbox"  name="checkbox2" type="checkbox" v-model="ckb2">
            <label class="output-label"  for="checkbox2">{{ ckb2 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox3">checkbox03</label>
            <input class="checkbox"  name="checkbox3" type="checkbox" v-model="ckb3">
            <label class="output-label"  for="checkbox3">{{ ckb3 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox4">checkbox04</label>
            <input class="checkbox"  name="checkbox4" type="checkbox" v-model="ckb4">
            <label class="output-label"  for="checkbox4">{{ ckb4 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox5">checkbox05</label>
            <input class="checkbox"  name="checkbox5" type="checkbox" v-model="ckb5">
            <label class="output-label" l for="checkbox5">{{ ckb5 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox6">checkbox06</label>
            <input class="checkbox"  name="checkbox6" type="checkbox" v-model="ckb6">
            <label class="output-label"  for="checkbox6">{{ ckb6 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox7">checkbox07</label>
            <input class="checkbox"  name="checkbox7" type="checkbox" v-model="ckb7">
            <label class="output-label"  for="checkbox7">{{ ckb7 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox8">checkbox08</label>
            <input class="checkbox"  name="checkbox8" type="checkbox" v-model="ckb8">
            <label class="output-label"  for="checkbox8">{{ ckb8 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox9">checkbox09</label>
            <input class="checkbox"  name="checkbox9" type="checkbox" v-model="ckb9">
            <label class="output-label"  for="checkbox9">{{ ckb9 }}
        </div>
        <div>
            <label class="checkbox-lable"  for="checkbox10">checkbox10</label>
            <input class="checkbox" name="checkbox10" type="checkbox" v-model="ckb10">
            <label class="output-label" for="checkbox10">{{ ckb10 }}
        </div>
    </div>
    <div class="btn-primary-btn">
        <button class="btn-top" onclick="location.href='https://github.com/AyumuShimizu/automation-training-middle'">Top</button>
        <button class="btn-next" onclick="location.href='https://ayumushimizu.github.io/automation-training-middle/problem2.html'">Next</button>
    </div>
    <div class="footer">
        Copyright Ayumu Shimizu 2022
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                ckb1: false,
                ckb2: false,
                ckb3: false,
                ckb4: false,
                ckb5: false,
                ckb6: false,
                ckb7: false,
                ckb8: false,
                ckb9: false,
                ckb10: false,
                }
            }
        })
        app.mount('#problem')
    </script>

    </html>
